.card-img-top {
  width: 50%;
  height: 150px;
  object-fit: contain; 
}

.background {
  background-image: url('../assets/background.svg');
  background-color: #d5d5d5;
  background-size: cover;
  background-position: center;
}

.linear-gradient  {
  background: linear-gradient(360deg, #FFFFFF 0%, #CDE7E8 100%);
}

.section-title {
  display: flex;
  align-items: center;
}

.section-title::before,
.section-title::after {
  content: '';
  flex: 1;
  border-bottom: 5px solid #002e63;
  margin: 0 30px;
}

.section-title span {
  font-weight: bold;
  font-size: 1.5em; 
  color: #002e63;  
}

.card {
  box-shadow:  10px 10px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05); 
}

.custom-carousel-img {
  width: 100%;
  height: 800px;
  object-fit: cover; 
}

.navbar-custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que o Navbar fique acima de outros elementos */
  background-color: rgba(255, 255, 255, 0.5); 
}

.carousel-container {
  position: relative;
}

.static-photo {
  position: absolute;
  bottom: 10px; /* Ajuste conforme necessário */
  left: 50px;   /* Ajuste conforme necessário */
  width: 520px; /* Ajuste conforme necessário */
  z-index: 10;
}

.custom-container {
  margin-left: 1rem !important;  /* Ajuste conforme necessário */
  margin-right: 1rem !important; /* Ajuste conforme necessário */
}